@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(120deg, #f6d365, rgb(253, 213, 133), #ff8c94, #ff76ac, #da77f2, #a56af2, #7480f7, #5390f7, #46a3f7, #4dd2f7, rgb(217, 247, 96));
  background-size: 200% 200%;
  animation: gradient-move 15s ease-in-out infinite;
}

body {
}

.grid-lines {
  background-image: radial-gradient(circle, rgba(200, 200, 200, 0.15) 1px, transparent 1px);
  background-size: 3rem 3rem;
  pointer-events: none;
}
